---
import MainLayout from "../layouts/MainLayout.astro";



---
<MainLayout title="Page 404 | Not found">
        
    <div class="card">
        <div class="grid">
            <div class="error">
                  <span>404
                   error
                  </span>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing 
              elit  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua<br/>
             Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
              ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud 
             exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <button>more</button>
         </div>
          <div class="img">
               <img src="https://i.postimg.cc/DZJvnd48/error.png">
         </div>
      </div>
   </div> 
</MainLayout>
   
<style>

    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: sans-serif;
    }
    body{
        background-color: #38a1ff;
    }

    .card{
        background-color: #38a1ff;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: center; 

    }


    .grid{
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 600px 600px;
        align-items: center;
        height: 35rem;
        justify-items: end;
    }


    .error{
        z-index: 1;
        position: relative;
    }

    .error span{
        font-size: 90px;
        color: #150035;
        font-weight: 900;
        white-space: pre-line;
        line-height: 1;
        letter-spacing: 3px;
        text-shadow: 1px 7px 1px #fff;
    }
    .error p{
        color: #fff;
        white-space: pre-line;
        padding-top: 25px;
        font-size: 15px;
        line-height: 1.3;
    }
    .img{width: 800px;}
    .img img{
        width: 100%;
    }
    button{
        width: 100px;
        padding: 8px;
        font-size: 18px;
        font-weight: 700;
        margin-top: 25px;
        border: none;
        background-color:#150035 ;
        color:#ffb000 ;
        position: relative;
    
    }
    button::after{
        content: '';
        width: 96px;
        height: 35px;
        border: 3px solid #fff;
        position: absolute;
        top: 7px;
        left: 5px;
        z-index: -1;
    }
</style>